.button.insert-dropbox,
.button.insert-dropbox:hover,
.button.insert-dropbox:active,
.button.insert-dropbox:focus {
  margin-left: 7px;
  background-image: url("../img/dropbox-icon.svg");
  background-repeat: no-repeat;
  background-position: 6px center;
  padding-left: 25px;
}
